@charset "utf-8";

/*  
   Reset Style Sheet for Andi Lynn Styles

   
   Filename:andi_visual1.css
   Author: Ashlynn Hickman
   Date: 9/4/2019

*/

/*Navigation Styles*/
body header nav {
	display: block;
	width: 100%;
}

body header nav.horizontal {
	background-color: rgb(51, 52, 45);
	color: white;
	line-height: 1.7em;
	text-align: right;
	padding: 5px 10px 5px 0px;
}

/* Figure Box Styles */

figure img{
    display: block;
	width: 100%;
}
 