@charset "utf-8";

/*  
   Style Sheet for Andi Lynn Styles

   Filename: andi_styles1.css
   Author: Ashlynn Hickman
   Date: 9/4/2019

*/

/*html styles*/
@font-face{
    font-family: Yesteryear
    
}

html {
    background-color: rgb(175, 207, 167);  
    color: rgb(51, 51, 51);
    font-size: 12px;
}

/* nav styles */
img#logo{
    max-height: 100px;
    max-width: 100px;
}
img#topBorder{
    max-height: 312px;
    max-width: 842.55px;
}


/* Page Body Styles */
body {
    background-color: rgb(211, 211, 211);
    font-family: Verdana, Geneva, Arial, sans-serif; 	
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
 