@charset "utf-8";

/*  
   Style Sheet 1 for Andi Lynn Designs

   Filename: andi_styles1.css
   Author: Ashlynn Hickman
   Date: 9/4/2019

*/

/* Figure Styles*/
figure img{
    display: block;
	width: 100%;
}
div.col-2-1{
    border-style: solid;
    border-width: 10px;
    border-color: rgb(51, 51, 51);
}
figcaption{
    font-style: italic;
    font-family: 'Yesteryear', cursive;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
figure#pic{
    margin: 20px auto 0px;
    width: 50%;
    border-style: solid;
    border-width: 25px;
    box-shadow: #666666 -3px 1px 5px ;
}
figure#pic img{
    display: block;
}

/* Body Styles */
section#about{
    width: 100%;
    border-style: solid;
    border-width: 10px;
    padding-top: 130px;
    padding-bottom: 131px;
    border-color: rgb(51, 51, 51);
    border-spacing: 10px;
}
section{
    background: rgb(253,229,219);
    padding: 50px;
}
section#about a{
    text-decoration: none;
    font-variant: small-caps;
}
th {
    background: rgb(253,229,219);
    padding: 10px;
    border-radius: 15px;
}
/* Grid Rows Styles */
div.row{
    clear: both;
}
 div.row::after{
    clear: both;
    content:"";
    display: table;
}
 
/* Grid Columns Styles */
div.col-1-1{
    display: block;
    width: 50%;
    float: left;
}
div.col-2-1{
    display: block;
    float: right;
    width: 50%;
}




 